html, body, #react-mount, .root {
  font-family: Roboto;
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

*, *:after, *:before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

ol, ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.hidden {
  display: none; }

.pointer {
  cursor: pointer; }

.shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25); }

.root {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.map-view {
  background: #b6deff;
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.app-header {
  background-color: rgba(41, 98, 255, 0.85);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 50px;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0; }

.app-title, .app-subtitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }

.app-title {
  font-size: 24px; }

.app-subtitle {
  font-weight: normal;
  font-size: 12px; }

.app-logo {
  position: absolute;
  width: 30px;
  right: 10px; }

img {
  width: 100px;
  height: auto; }

.map-controls {
  position: absolute;
  background: white;
  width: 80px;
  right: 20px;
  z-index: 5;
  top: 80px; }

.map-controls__list {
  border-bottom: 1px solid #aaa;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.map-controls__item {
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px; }

.map-controls__item:nth-child(odd) {
  border-left: 1px solid #aaa; }

.map-controls__item-icon {
  display: block;
  margin: auto;
  height: 25px;
  width: 25px; }
