{
  "env": {
    "production": {
      "plugins": ["babel-plugin-transform-flow-strip-types"],
      "presets": ["es2015-rollup", "react", "stage-0"]
    },
    "development": {
      "plugins": [
        "transform-es2015-modules-amd",
        "babel-plugin-transform-flow-strip-types"
      ],
      "presets": ["react", "es2015", "stage-0"],
      "sourceMaps": "inline"
    }
  },
  "ignore": [
    "build",
    "node_modules"
  ]
}
