.app-header {
  background-color: $theme-blue;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  display: flex;
  height: 50px;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0;
}

.app-subtitle {
  align-items: center;
  padding-left: 10px;
  display: flex;
  color: white;
  margin: 0;
}

.app-subtitle {
  font-weight: normal;
  font-size: 12px;
}

.app-logo {
  position: absolute;
  width: 30px;
  right: 10px;
  top: 10px;
}

img {
  width: 100px;
  height: auto;
}
