html, body, #react-mount, .root {
  font-family: Roboto;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

*, *:after, *:before {
  -webkit-tap-highlight-color: $transparent-background;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Atomic Classes
.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: 2px 2px 2px $shadow-background;
}
