.app-header {
  background-color: $header-blue;
  flex-direction: column;
  position: absolute;
  display: flex;
  color: white;
  height: 50px;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0;
}

.app-title, .app-subtitle {
  align-items: center;
  padding-left: 10px;
  display: flex;
  height: 50%;
  margin: 0;
}

.app-title {
  font-size: 24px;
}

.app-subtitle {
  font-size: 14px;
}
