// Header
$theme-blue: rgba(41, 98, 255, 0.85);

// Map
$background-navigation-vector: rgba(182, 222, 255, 1);
$background-darkgray-vector: rgba(34, 35, 38, 1);

// General
$transparent-background: rgba(0, 0, 0, 0);
$shadow-background: rgba(0, 0, 0, 0.25);
$lightgray-border: #aaa;
$error-red: #B91913;
